/Mk/Scripts/actual-package-depends.sh
/Mk/Scripts/cargo-crates.awk
/Mk/Scripts/check-desktop-entries.sh
/Mk/Scripts/check-stagedir.sh
/Mk/Scripts/check-vulnerable.sh
/Mk/Scripts/check_leftovers.sh
/Mk/Scripts/checksum.sh
/Mk/Scripts/create-manifest.sh
/Mk/Scripts/depends-list.sh
/Mk/Scripts/desktop-categories.sh
/Mk/Scripts/dialog4ports.sh
/Mk/Scripts/do-depends.sh
/Mk/Scripts/do-fetch.sh
/Mk/Scripts/do-patch.sh
/Mk/Scripts/do-users-groups.sh
/Mk/Scripts/find-lib.sh
/Mk/Scripts/functions.sh
/Mk/Scripts/generate-symbols.sh
/Mk/Scripts/makesum.sh
/Mk/Scripts/plist_sub_sed_sort.sh
/Mk/Scripts/ports_env.sh
/Mk/Scripts/qa.sh
/Mk/Scripts/rust-compat11-canary.sh
/Mk/Scripts/security-check.awk
/Mk/Scripts/sed_checked.sh
/Mk/Scripts/smart_makepatch.sh
